body {
    background-color: #ffc375; 
}

.dropdown:hover > .dropdown-menu { 
    display: block; 
    visibility: visible;
}

#cards{
    box-shadow: 0 0 20px rgba(0, 47, 255, 0.6), inset 0 0 120px rgba(0, 47, 255, 0.6);
}

button{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-color: #dc7160;
    background-color: #dc7160;
    font-size: 30px;
}

.div-canvas {
    width: 80%;
	height: 20%;
}

.dropdown-open {
    position: relative;
    
}
.dropdown-menu {
    visibility: hidden;

}
.holder-html-chat{ border: 1px solid #ccc;padding:10px;background-color: #fff;width: 600px;}
.html-chat-history{ max-width: 100px; overflow: auto;max-height: 100px; border: 1px solid #ccc;padding: 5px;}
.html-chat-js-name{ margin-top:10px; }
.html-chat-js-input{ max-width: 200px;max-height: 100px;width: 600px;margin-top:10px; }
.html-chat-js-button-holder{ margin-bottom: 0px;margin-top: 10px; }
.html-chat-js-button-holder input{ width: 220px; }
.html-chat-js-answer{ float:right; }
.html-chat-js-answer a{ color: #777;font-size: 12px; font-family: cursive;}
.html-chat-js-answer a:hover{ color: #338;font-size: 12px; font-family: cursive;}
.html-chat-msg{ margin: 0px; }
