body {
    background-color: #ffc375; 
}

.dropdown:hover > .dropdown-menu { 
    display: block; 
    visibility: visible;
} 

.div-canvas {
    width: 80%;
	height: 20%;
}

.dropdown-open {
    position: relative;
    
}
.dropdown-menu {
    visibility: hidden;
}
